.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.shapeContainer {
  position: relative;
  width: 25px;
  height: 25px;
}